<header>
	<h2>Limite de Crédito</h2>
</header>
<form [formGroup]="clienteForm" (ngSubmit)="onSubmit(clienteForm.value)">
	<table>
		<tr>
			<td><label for="nome">Nome:</label></td>
			<td><input type="text" id="nome" formControlName="nome"></td>
			<td><div *ngIf="!clienteForm.valid" class="error">Informe o nome do
					cliente</div></td>

		</tr>
		<tr>
			<td><label for="limite">Limite de Crédito:</label></td>
			<td><input type="text" id="limite" name="limite" currencyMask
				formControlName="limite"></td>
			<td><div *ngIf="!clienteForm.valid" class="error">Informe um limite de
					crédito para o cliente</div></td>
		</tr>

		<tr>
			<td><label for="risco">Risco:</label></td>
			<td><select id="risco" formControlName="risco">
					<option *ngFor="let risco of riscoList" value="{{risco.risco}}">{{risco.risco}}</option>
			</select></td>
			<td><div *ngIf="!clienteForm.valid" class="error">Informe um tipo de
					risco associado ao cliente</div></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit" [disabled]="!clienteForm.valid">Salvar</button></td>
		</tr>
	</table>

</form>